.card {
  max-width: 350px;
  padding: 24px;
  display: grid;
  gap: 24px;
  border: 2px solid brown;
  border-radius: 12px;
}

.img {
  width: 100%;
}

.info {
  display: grid;
  gap: 12px;
}

.price {
  color: brown;
}

.titleContainer {
  display: flex;
  gap: 12px;

  a {
    width: fit-content;
  }
}

.active {
  color: brown;
}
