.card {
    padding: 24px;
    display: flex;
    gap: 24px;
    border: 2px solid brown;
    border-radius: 12px;

    img {
        width: auto;
        height: 150px;
    }
}

.contaner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.descContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
    justify-content: space-between;
}

.btnContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.price {
    color: brown;
}
